.container {
  padding: 0.4rem;
  /* width: 3.5rem; */
  /* height: 3.5rem; */
}

.background {
  border-radius: 5rem;
  padding: 2px;
  border: 1px solid #00001e;
  /* width: 3rem; */
  /* height: 3rem; */
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5rem;
}

.nopicture {
  opacity: 0.35;
  width: 85%;
  height: 100%;
  display: block;
  margin: auto;
}
