.header {
  display: flex;
  // padding-top: 10px;
  justify-content: center;
  align-items: center;

  .logo {
    flex: 1;
    display: flex;
    margin-left: 25px;
    // justify-content: center;
    // align-items: center;
  }

  .nav {
    flex: 4;
    display: flex;
    flex-direction: row;

    a {
      text-decoration: none;
      color: inherit;
    }

    .navButton {
      font-family: Verdana, system-ui, Arial, "Helvetica Neue", Helvetica,
        sans-serif;
      font-size: 14px;
      color: #002b45;
      user-select: none;

      .label {
        padding: 20px 15px 20px 15px;

        &:hover {
          background-color: #f1f7fd;
        }
      }
    }
  }

  .profile {
    flex: 1;
  }
}
