.toast_container {
  position: relative;
  background-color: rgba(190, 30, 45);
  width: 284px;
  border-radius: 5px;
  margin: 5px;
  opacity: 0;
  transition: 300ms all ease;
  transform: translateX(-50%);
}

.hidden {
  height: 0;
  padding: 0;
  margin: 0;
}

.container_toast_message {
  justify-content: center;
}

.toast_close_bar {
  width: 100%;
  height: 32px;
  text-align: right;
}

.toast_close_bar_button {
  width: 32px;
}

.close_icon {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.toast_message {
  color: #ffffff;
  text-align: center;
  padding: 0 20px;
}

.toast_details_button {
  position: relative;
  font-size: 0.8rem;
  color: #bbbbbb;
  cursor: pointer;
}

.toast_details_button:hover {
  color: rgb(255, 255, 255);
}
