/* toast.module.css */

.container_toast {
  background-color: rgba(190, 30, 45, 0.8); /* Red translucent background */
  color: white; /* Text color */
  max-width: 350px; /* Maximum width */
  min-width: 248px; /* Default width */
  height: auto; /* This ensures that the height changes depending on content */
  min-height: 100px; /* Default height */
  padding: 10px; /* Add some space around the text and button */
  box-sizing: border-box; /* Ensures padding is included in the total width/height */
  border-radius: 8px; /* Optional: To give the toast rounded corners */
  overflow-wrap: break-word; /* Ensure words break properly if they exceed the container's width */
  display: flex; /* To align the text and close icon horizontally */
  align-items: center; /* Center-align items vertically */
  justify-content: space-between; /* Space out the text and close icon */
  margin-bottom: 10px; /* Optional: Space between multiple toasts */
  height: auto;
  max-height: none;
  word-wrap: break-word;
  position: relative; /* This allows absolute positioning for child elements like the close button */
}

.textbox {
  display: flex;
  /*flex: 1;*/ /* Takes up the remaining space after the actionbox */
  word-break: break-word;
  padding-right: 40px; /* Ensure text doesn't overlap with the close button; adjust based on the size of your close button */
}

.actionbox {
  display: flex; /* To align the close icon horizontally */
  padding-left: 10px; /* Some space between the text and the close icon */
  flex: 0;
  justify-content: "flex-start";
  align-items: end;
  position: absolute; /* Position it relative to the container_toast */
  top: 10px;          /* Distance from the top; adjust as needed */
  right: 10px;        /* Distance from the right; adjust as needed */
}

.toast_close {
  cursor: pointer; /* To show that the close icon is clickable */
  display: flex;
  align-items: center; /* Center-align the icon */
}

.toast_close:hover {
  background-color: #920916;
}
