.toast_container {
  position: relative;
  background-color: rgba(190, 30, 45);
  width: 284px;
  border-radius: 5px;
  margin: 5px;
  opacity: 0;
  transition: 300ms all ease;
  height: 120px;
}
.hidden {
  height: 0;
  padding: 0;
  margin: 0;
}

.container_toast_message{
  display: flex;
  justify-content: center;
}

.toast_close_bar {
  width: 100%;
  text-align: right;
  padding-right: 0.5rem;
}
.toast_close_bar button {
  width: 20px;
}
.close_icon {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.toast_message {
  color: #ffffff;
  text-align: center;
  padding: 0.5rem;
}

.toast_details_button {
  position: relative;
  bottom: 0.7rem; /* Adjust as needed */
  transform: translateX(-50%);
  font-size: 0.8rem;
  color: #6d6d6d; /* Adjust to match your design */
  cursor: pointer; /* Indicates an interactive element */
}

.toast_details_button:hover {
  color: rgb(255, 255, 255); /* Change the color upon hover */
}