.membershipApplicationsContainer {
  .membershipApplications {
    background-color: #ffffff;

    .table {
      display: grid; /* grid containers */
      grid-template-columns: repeat(4, 1fr); /* four columns */
      grid-template-rows: repeat(4, 1fr); /* four rows */
      grid-auto-flow: column; /* in column direction */
      border: 1px solid black;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 10px;

  & * {
    margin-left: 2px;
    margin-right: 2px;
  }
}

.button {
  background-color: #ed8800;
  width: 70px;
  display: flex;
  justify-content: center;
  padding: 6px;
  border-radius: 2px;
  color: #ffffff;

  &.reject {
    background-color: #e34327;

    &:hover {
      background-color: #f75639;
    }
  }

  &:hover {
    background-color: #fc9c1f;
  }
}
