.notprovisioned {
  list-style-type: square;
  padding-left: 1rem;
}

.clusterheader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.capabilityid {
  font-family: monospace;
  color: #ed8800;
}

.tooltipsection {
  clear: both;
}

.tooltip {
  display: inline-block;
  position: relative;
  float: right;
}

.warningIcon {
  color: #be1e2d;
  /* margin-left: -20px; */
  float: left;
}

.deletedRow {
  background-color: #d88;
}

.cardMediaImage {
  position: unset!important;
  float: right;
}

.cardMedia {
  position: unset!important;
}
