.clusterheader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.capabilityid {
  font-family: monospace;
  color: #ed8800;
}

.tooltipsection {
  clear: both;
}

.tooltip {
  display: inline-block;
  position: relative;
  float: right;
}

.warningIcon {
  color: #be1e2d;
  margin: 0 -10px;
  margin-top: 5px;
  margin-left: -1px;
  float: left;
}

.deletedRow {
  background-color: #d88;
}

.cardMediaImage {
  position: unset !important;
  float: right;
}

.cardMedia {
  position: unset !important;
}

.dropDownMenu {
  position: relative;
  top: -23px;
}

.invitee_container {
  display: inline-block;
  cursor: pointer;
  margin: 4px 2px;
  height: 30px;
}

.invitee {
  border: 2px solid #d9dcde;
  padding: 5px;
  border-radius: 20px;
  background-color: #d9dcde;
}

.delete_invitee_overlay {
  display: none;
  padding: 7px;
  border-radius: 20px;
  font-weight: bold;
  transform: translateY(-100%);
  text-align: center;
}

.invitee_container:hover .invitee {
  opacity: 0.5;
}
.invitee_container:hover .delete_invitee_overlay {
  display: block;
}

.invitees_container {
  display: flex;
  flex-direction: row;
  position: relative;
  top: -16px;
  flex-wrap: wrap;
}

.nextButton {
  margin-top: 20px;
  float: right;
}

.skipButton {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
}

.backButton {
  margin-top: 20px;
  float: left;
}

.stepiconcompleted {
  color: #4caf50;
}

.stepiconunresolved {
  color: #7e8386;
}

.stepiconactive {
  color: #ed8800;
}

.stepiconskipped {
  color: #153b53;
  size: 0.5em;
}

.myCapabilitiesToggleBox {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 20px;
  font-size: small;
}

.myCapabilitiesToggleTitle {
  vertical-align: super;
  margin: 0 5px 0 0;
}
