

.headlineContainer {
  display: flex;
  align-items: center;
}

.headlineContainer .badge {
  background-color: #ED8800;
  color: #ffffff;
  max-width: calc(100%)
}

.headlineContainer .badges {
  display: flex;
  align-items: center;
  margin-left: 10px;
  position: relative;
  top: 1px;
}

.headlineContainer .badge span {
  font-weight: 700;
}