

.headlineContainer {
  display: inline-flex;
  align-items: center;
}

.headlineContainer .badge {
  background-color: #ED8800;
  color: #ffffff;
  max-width: calc(100%);
  height: 1.45rem;
}

.headlineContainer .badge p {
  font-size: 0.5em;
}

.headlineContainer .badges {
  align-items: center;
  margin-left: 10px;
  position: relative;
  top: -3px;
}

.headlineContainer .badge span {
  font-weight: 700;
}
