.columns {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}

.columns > .column {
  width: 50%;
}

.contract {
  width: 100%;
  height: 5rem;
}

.container {
  /* margin-bottom: 1rem;
    border: 1px dashed red; */
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* border: 1px solid orange; */
  padding-left: 1rem;
  padding-right: 1rem;
  /* margin: 1rem;
    margin-bottom: 0; */
  align-items: center;
  justify-content: space-between;
  align-content: center;
  /* background-color: #bbddf3; */
  /* color: #fff */
  /* border: 1px dashed orange; */
}

.pointerCursor {
  cursor: pointer;
}

.descriptionfield {
  background-color: red;

  div {
    background-color: red;
  }
}

.header:hover {
  background-color: #bbddf3;
  /* color: #fff */
}

.headerselected {
  background-color: #002b45 !important;
  border: 1px solid #4d4e4c29;
  color: #fff;
}

.chevronSize {
  font-size: 1rem;
}

.contentcontainer {
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #4d4e4c29;

  height: 45rem;
  animation-name: slidein;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

.jsoncontainer {
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #4d4e4c29;

  height: 35rem;
  overflow-y: auto;
  animation-name: slidein;
  animation-duration: 0.5s;
  animation-timing-function: ease;
}

.messagecontent {
  /* border: 1px solid red; */
  /* overflow-y: scroll; */
}

.pendingcreation {
  color: #002b454d;
  font-style: italic;
}

.failed {
  color: rgba(150, 0, 0, 0.58);
  font-style: italic;
}

.version {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.evolve {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@keyframes slidein {
  from {
    height: 0;
  }
  to {
    height: 35rem;
  }
}
