.clusterheader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.capabilityid {
  font-family: monospace;
  color: #ed8800;
}

.tooltipsection {
  clear: both;
}

.tooltip {
  display: inline-block;
  position: relative;
  float: right;
}

.topicheader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* border: 1px solid orange; */
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 1rem;
  margin-bottom: 0;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  /* background-color: #002b45; */
  /* color: #fff */
}

.cursorPointer {
  cursor: pointer;
}

.topicheader:hover {
  background-color: #bbddf3;
}

.topicheaderselected {
  background-color: #002b45;
  color: #fff;
}

.topicheaderselected:hover {
  background-color: #002b45 !important;
  color: #fff;
}

.messagecontractsheader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
