.costDataSummary {
  width: 90%;
  height: 30px;
  display: inline-block;
  align-content: flex-start;
}

.largeCostDataSummary {
  width: 100%;
  height: 300px;
}

.customTooltip {
  background-color: #01314e;
  color: #ffffff;
  opacity: 85%;
}

.tooltipName {
  color: #c9c9c9;
}

.tooltipValue {
  font-size: 1.2em;
}

.chartContainer {
  display: flex;
  align-items: center;
}
