
.chartContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.costDataSummary {
  max-width: 150px;
  height: 30px;
}

.costDataSummaryCost {
  height: 100%;
  font-size: 10px;
  text-align: right;
}

.largeCostDataSummary {
  height: 300px;
}

.customTooltip {
  background-color: #01314e;
  color: #ffffff;
  opacity: 85%;
}

.tooltipName {
  color: #c9c9c9;
}

.tooltipValue {
  font-size: 1.2em;
}
