.searchcontainer  div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.searchcontainer div div + div::before {
    content: "|";
    margin: 0 5px;
  }

.searchcontainer > * {
    margin: 0 5px 0 0;
}