.container {
  display: flex;
  justify-content: center;
  /* background-color: #002b45; */
  width: 100%;
  height: 100vh;
}

.content {
  display: flex;
  margin-top: 300px;
  color: #ffffff;
  height: fit-content;
  flex-direction: column;
  align-items: center;

  font-family:
    DFDS, Verdana, system-ui, Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.logo {
  width: 200px;
  margin-bottom: 30px;
}

.button {
  background-color: #ed8800;
  border: medium;
  padding: 7px 9px 7px 9px;
  user-select: none;
  font-size: 20px;
  font-weight: 400;

  &:hover {
    cursor: pointer;
    background-color: #f69b24;
  }
}
