.assessmentRow {
  margin-bottom: 15px;
  display: inline-block;
  width: 100%;
  line-height: 40px;
  vertical-align: middle;
  display: flex;
}

.assessmentDescriptionWrapper {
  height: 100%;
  width: 80%;
  line-height: 25px;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.1em;
}

.assessmentButton {
  width: 40px;
  display: inline-block;
  margin-right: 10px;
}

.assessmentIcon {
  width: 25px;
  height: 25px;
  line-height: 100%;
  vertical-align: middle;
  margin-right: 10px;
  color: #4cb443;
}

.switch {
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  margin-right: 1rem;
}

.switch.on {
  background-color: #4caf50;
}

.slider {
  width: 23px;
  height: 23px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: 0.2s;
}

.switch.on .slider {
  left: 26px;
}
