.horizontalBox {
  display: flex;
  gap: "0.1rem";
  margin-left: auto;
}

hr.divider {
  height: 1px;
  border-style: none;
  background-color: #dedede;
  margin: 10px 0px;
}

.pending {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.completed {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.completed .items {
  text-align: center;
}

.completed .items:last-child {
}

.azure {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.azure .items {
  text-align: center;
}

.environment {
  text-align: centre;
  margin: 10px 0px 10px 0px;
}

.environmentlist {
  text-align: center;
  margin: 5px 0px 5px 0px;
  display: inline-block;
}
.environmentbadge {
  display: inline-block;
  background-color: #d4d9dc;
  border-color: #b9bec1;
  padding: 5px;
  margin: 0px 10px;
  border-radius: 10px;
}
.environmentlink {
  text-align: center;
  text-decoration: none;
  font-size: 1.15em;
}

.azureresource {
  text-align: center;
}

.envbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: 2px solid #49a2df;
  color: #49a2df;
  border-radius: 5px;
  cursor: pointer;
  width: 70px;
  height: 30px;
  font-size: 16px;
  font-weight: 550;
  font-family: "DFDS";
  /* box-sizing: border-box;
  padding: 5px; Optional:  */
  text-align: center;
}

.envitems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* flex-wrap: nowrap; */
  /* align-items: flex-end; */
  /* align-content: flex-end; */
}

.envbutton:hover {
  background-color: #bbddf3;
  border: 2px solid #1874bc;
  color: #1874bc;
}

.envbutton:focus-visible {
  outline: none;
}

.envsection {
  text-align: center;
  margin: 0 auto;
}

.awsaccountinformationbox {
  padding: 30px 10px;
}

.subheader {
  font-size: 16px;
  font-weight: 550;
  font-family: "DFDS";
}

.informationtext {
  font-weight: 550;
  font-family: "DFDS";
}

.link {
  color: #49a2df;
  text-decoration: none;
}
